@import url('/css/login.css');
@import url('/css/register.css');

:root {
    --color-amarillo: #EAC926;
    --color-azul: #03264C;
    --color-celeste: #1259c3;
    --color-grisOscuro: #666;
    --color-grisClaro: #ebebeb;
    --color-verde: #39b54a;
    /* FUNTES */
    --font-roboto: 'Roboto', sans-serif;
    /* Tamaños de fuentes */
    --paragraph: 12px;
    --title: 24px;
    --prices: 18px;
    --discounts-descriptions: 16px;
}

/* --------------------------------- */
/*         ESTILOS GENERALES         */
/* --------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

body {
    font-family: var(--font-roboto);
    background: var(--color-grisClaro);
}

li {
    list-style: none;
}

/* --------------------------------- */
/*          ESTILOS HEADER           */
/* --------------------------------- */
header {
    background-color: var(--color-amarillo);
    font-size: var(--paragraph);
    padding:  30px 0 10px;
}

header .burger-menu {
    background-color: var(--color-celeste);
    border-radius: 5px;
    color: white;
    text-align: center;
    width: 35px;
    padding: 7px;
    font-size: 17px;
    margin: 30px auto 10px;
}

header .logo_search {
    display: flex;
    padding: 0 20px;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

header .logo_search a {
    width: 50%;
}

header img {
    width: 100%;
    max-width: 300px;
}

header .busqueda{
    height: 30px;
    padding: 0 5px;
    background-color: white;
    display: flex;
    width: 50%;
    position: relative;
    border-radius: 5px;
}

header .busqueda input {
    width: 100%;
    border: none;
}

header .busqueda .fa-search {
    position: absolute;
    right: 10px;
    cursor: pointer;
    top: 6px;
    font-size: 18px;
}

header .purchase_options {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

header nav .menu-top {
    margin-bottom: 20px;
    display: none;
}

header nav .menu-buttom {
    display: none;
}


/*       MAIN CONT       */

/*     BANNER      */

img.banner {
    display: none;
    width: 100%;
}

main.main-container {
    width: 90%;
    margin: 0 auto;
}

main.main-container section h3 {
    font-size: var(--title);
    margin: 20px 0;
}

main.main-container article.product {
    background: white;
    max-width: 320px;
    margin: 20px auto 0;
}

main.main-container article .description {
    border-top: 1px solid #ebebeb;
    padding: 15px;
    position: relative;
}

main.main-container article .fa-truck {
    border-radius: 50%;
    padding: 8px;
    border: 1px solid var(--color-verde);
    color: var(--color-verde);
    position: absolute;
    right: 20px;
    top: -17px;
}

main.main-container article div .price_discount {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

main.main-container article div p {
    font-size: var(--prices);
    font-weight: 600;
    width: 35%;
    display: inline-block;
    
}

main.main-container article .discount {
    color: var(--color-verde);
    font-size: var(--discounts-descriptions);
    font-weight: 500;
    display: inline-block;
    width: 65%;
    margin-left: 20px;
}

/* --------------------------------- */
/*          ESTILOS FOOTER           */
/* --------------------------------- */

footer {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    background: white;
    border: 4px solid #ebebeb;
}

footer section {
    margin-bottom: 25px;
}

footer section p {
    font-size: var(--paragraph);
    width: 80%;
    margin: 0 auto;
}

footer section h4 {
    font-size: 15px;
}

footer section i {
    color: var(--color-celeste);
    font-size: 25px;
    margin-bottom: 20px;
}

footer section#copyright {
    font-size: var(--paragraph);
    color: var(--color-grisOscuro);
    text-align: left;
    padding-left: 10px;
}

@media screen and (min-width: 580px) {

    
    header .burger-menu {
        background-color: var(--color-celeste);
        border-radius: 5px;
        color: white;
        text-align: center;
        width: 35px;
        padding: 7px;
        font-size: 17px;
        margin: 30px auto 10px;
        display: none;
    } 
    
    img.banner {
        display: block;
    }

    header .header_top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        
    }

    header .logo_search {
        display: flex;
        justify-content: space-evenly;
        width: 70%;
        align-items: center;
        margin-bottom: 0;
    }

    header .purchase_options {
        display: inline;
        text-align: end;
        width: 30%;
        margin: 0;
        margin-right: 20px;
    }

    header .nav_menu {
        display: flex;
        justify-content: space-between;
    }

    header nav .menu-top {
        display: flex;
        padding: 0 10px;
        gap: 10px;
        margin-bottom: 0;
    }
    
    header nav .menu-buttom {
        display: flex;
        padding: 0 10px;
        gap: 10px;
        margin-bottom: 0;
    }
    
    /*       MAIN CONT       */

    main.main-container .container_product {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
    }

    main.main-container article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        margin-bottom: 5px;
        width: 48%;
    }
}

@media screen and (min-width:860px) {
    
    main.main-container .container_product {
        flex-wrap: nowrap;
        justify-content: space-evenly;
        gap: 10px;
    }

    main.main-container article {
        width: 100%;
    }
    

}